<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="mysqlImpl" class="com.xinmu.dao.UerDaoMysqlImpl"/>
    <bean id="defImpl" class="com.xinmu.dao.UserDaoImpl"/>

    <bean id="UserServiceImpl" class="service.UserServiceImpl">
        <property name="userDao" ref="defImpl"/>
    </bean>


</beans>