div{
    margin: 10px;
    padding: 5px;
}
#father{
    border:1px #000 solid;
    overflow: hidden;
}
#father:after{
    content: '';
    display: block;
    clear:both;
}
.layer01{
    border:1px #F00 solid;
    display: inline-block;
    float: left;
}
.layer02{
    border:1px #00F solid;
    display: inline-block;
    float: left;

}
.layer03{
    border:1px #060 dashed;
    display: inline-block;
    float: right;
}
/*
clear:right;右侧不允许有浮动元素
clear:left;左侧不允许有浮动元素
clear:both;两侧不允许有浮动的元素
clear:none;
*/
.layer04{
    border:1px #3a8f98 dashed;
    font-size:12px;
    line-height:23px;
    float: right;
}
.clear{
    clear: both;
    margin: 0;
    padding: 0;
}
