<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 1. 扫描service下的包 让注解生效 -->
    <context:component-scan base-package="com.xinmu.service"/>

    <!--  2.将我们的所有的业务类,注入到spring ,可以通过配置也可以通过注解  -->
    <bean id="BookServiceImpl" class="com.xinmu.service.BookServiceImpl">
        <property name="bookMapper" ref="bookMapper"/>
    </bean>

    <!--  3.声明式事务  -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--  注入数据源  -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--  4.aop事务支持  -->
    <!--  结合aop实现事务的织入  -->
    <!--    配置事务的类    -->
    <tx:advice id="txAdvice"  transaction-manager="transactionManager">
        <!--  给哪些方法配置事务  -->
        <!--  配置事务的传播特性  -->
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <!--    配置事务切入    -->
    <aop:config>
        <aop:pointcut id="txPointCut" expression="execution(* com.xinmu.dao.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
    </aop:config>

</beans>