#nav{
    width:300px;
    color:#b4b4b4;
}


.title{
    font-size:18px;
    font-weight:bold;  /*粗体*/
    text-indent: 1em;
    line-height: 30px;
    background: red url("../../10.超链接伪类/images/img.png") 250px 7px no-repeat;

}

ul{
    background: #b4b4b4;
}


/*
list-style:
none:去掉圆点
circle:空心圆
decimal 数字
squar 正方形


*/

ul li{
    height:30px;
    list-style:none;
    text-indent:1em;
    background: url("../../10.超链接伪类/images/img_1.png") 236px 2px no-repeat;

}

a{
    text-decoration:none;
    font-size:14px;
    color:white;
}

a:hover{
    color:orange;
    text-decoration:underline;
}



